TELEGRAM_API_ID=123456
TELEGRAM_API_HASH=your_telegram_api_hash
TELEGRAM_SESSION=telegram_monitor
TELEGRAM_LOG_DB=telegram_logs.sqlite3
TELEGRAM_CATCH_UP_LIMIT=50
TELEGRAM_CATCH_UP_INTERVAL_SECONDS=3600
LOG_LEVEL=INFO

DASHBOARD_PASSWORD=change_me
DASHBOARD_SECRET_KEY=change_me_to_random_long_secret
DASHBOARD_HOST=0.0.0.0
DASHBOARD_PORT=8050

PEXELS_API_KEY=your_pexels_api_key

ELEVENLABS_API_KEY=your_elevenlabs_api_key
ELEVENLABS_VOICE_ID=your_elevenlabs_voice_id
ELEVENLABS_VOICE_IDS=JBFqnCBsd6RMkjVDRZzb,EXAVITQu4vr4xnSDxMaL,Xb7hH8MSUJpSbSDYk0k2,SAz9YHcvj6GT2YYXdXww,pFZP5JQG7iQjIQuC4Bku,pqHfZKP75CvOlQylNhV4
ELEVENLABS_MODEL_ID=eleven_multilingual_v2
ELEVENLABS_LANGUAGE_CODE=ko
ELEVENLABS_STABILITY=0.65
ELEVENLABS_SIMILARITY_BOOST=0.75
ELEVENLABS_STYLE=0.05
ELEVENLABS_SPEAKER_BOOST=1
ELEVENLABS_VOICE_SPEED=0.90
LONG_VIDEO_TTS_PROVIDER=elevenlabs
SHORT_TTS_PROVIDER=elevenlabs
SHORT_ELEVENLABS_MODEL_ID=eleven_flash_v2_5

AUTO_UPLOAD_ENABLED=0
AUTO_UPLOAD_SOURCE=글반장,사람로
AUTO_UPLOAD_BACKFILL_SOURCE=글반장모음
AUTO_UPLOAD_POLL_INTERVAL_SECONDS=60
AUTO_UPLOAD_MAX_PER_RUN=1
AUTO_UPLOAD_DAILY_LIMIT=4
AUTO_UPLOAD_PRIVACY_STATUS=private
AUTO_UPLOAD_SCHEDULE_WINDOWS=07:00-08:00,19:00-20:00
AUTO_UPLOAD_SCHEDULE_TIMES=07:00,07:30,19:00,19:30
LONGFORM_UPLOAD_SCHEDULE_TIMES=20:30,21:00
LONGFORM_YOUTUBE_PLAYLIST_NAME=잠들기 전 듣는 힐링 낭독
AUTO_UPLOAD_MIN_LEAD_MINUTES=30
AUTO_UPLOAD_MIN_CONTENT_LENGTH=10
AUTO_UPLOAD_INCLUDE_EXISTING=0
AUTO_UPLOAD_RETRY_FAILED=0
TTS_AB_TEST_ENABLED=0
TTS_AB_TEST_TARGET_PER_VOICE=12

NAVER_CLIP_AUTO_UPLOAD_ENABLED=0
NAVER_CLIP_API_URL=http://host.docker.internal:8383/upload_clip
NAVER_CLIP_CHANNEL_URL=https://creator.tv.naver.com/channel/wisearchive/content/video
NAVER_CLIP_HOST_VIDEO_ROOT=C:\Users\Administrator\code\jokak-260427
NAVER_CLIP_CATEGORY1=인문, 교양
NAVER_CLIP_CATEGORY2=인문, 교양
NAVER_CLIP_KEEP_OPEN_SECONDS=8
NAVER_CLIP_TIMEOUT_SECONDS=900
NAVER_CLIP_DAILY_LIMIT=4
NAVER_CLIP_SCHEDULE_WINDOW=06:00-09:00

SARAMRO_QUOTES_ENABLED=0
SARAMRO_QUOTES_IMPORT_LIMIT=10
SARAMRO_QUOTES_MAX_PAGES=5

VIDEO_BGM_ENABLED=1
VIDEO_BGM_ALLOW_UNVERIFIED=0
VIDEO_BGM_TTS_VOLUME=0.10
VIDEO_BGM_ONLY_VOLUME=0.14
