TELEGRAM_API_ID=123456
TELEGRAM_API_HASH=your_telegram_api_hash
TELEGRAM_SESSION=telegram_monitor
TELEGRAM_LOG_DB=telegram_logs.sqlite3
TELEGRAM_CATCH_UP_LIMIT=50
TELEGRAM_CATCH_UP_INTERVAL_SECONDS=3600
LOG_LEVEL=INFO

DASHBOARD_PASSWORD=change_me
DASHBOARD_SECRET_KEY=change_me_to_random_long_secret
DASHBOARD_HOST=127.0.0.1
DASHBOARD_PORT=8050

PEXELS_API_KEY=your_pexels_api_key

AUTO_UPLOAD_ENABLED=1
AUTO_UPLOAD_SOURCE=글반장,사람로
AUTO_UPLOAD_POLL_INTERVAL_SECONDS=60
AUTO_UPLOAD_MAX_PER_RUN=1
AUTO_UPLOAD_DAILY_LIMIT=10
AUTO_UPLOAD_PRIVACY_STATUS=private
AUTO_UPLOAD_SCHEDULE_WINDOWS=07:30-09:00,12:00-13:30,18:00-23:00
AUTO_UPLOAD_MIN_LEAD_MINUTES=30
AUTO_UPLOAD_MIN_CONTENT_LENGTH=10
AUTO_UPLOAD_INCLUDE_EXISTING=0
AUTO_UPLOAD_RETRY_FAILED=0

SARAMRO_QUOTES_ENABLED=0
SARAMRO_QUOTES_IMPORT_LIMIT=10
SARAMRO_QUOTES_MAX_PAGES=5

VIDEO_BGM_ENABLED=1
VIDEO_BGM_TTS_VOLUME=0.10
VIDEO_BGM_ONLY_VOLUME=0.14
